<% flash.each do |type, msg| %>
<div class="section">
  <div class="section-wrap <%= type %>">
    <div id="flash-message" class="section-title">
      <%= msg %>
    </div>
  </div>
</div>
<% end %>

<div class="section">
  <% @highlight.each do |h| %>
  <div class="section-wrap hover-effect" id="news-<%= h.id %>">
    <div class="section-title section-headline">
      <%= link_to h.title, "/news/#{h.id}" %>
    </div>
  </div>
  <% end %>

  <% @news.each do |n| %>
    <%= render n %>
  <% end %>

  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        <%= link_to "更多新闻", controller: "news", action: "list" %>
      </div>
    </div>
  </div>
</div>
