<% flash.each do |type, msg| %>
<div class="section">
  <div class="section-wrap <%= type %>">
    <div id="flash-message" class="section-title">
      <%= msg %>
    </div>
  </div>
</div>
<% end %>

<div class="section">
  <% @highlight.each do |h| %>
  <div class="section-wrap hover-effect" id="news-<%= h.id %>">
    <div class="section-title section-headline">
      <%= link_to h.title, "/news/#{h.id}" %>
    </div>
  </div>
  <% end %>

  <% @news.each do |n| %>
  <div class="section-wrap hover-effect" id="news-<%= n.id %>">
    <div class="section-item">
      <div class="section-title">
      <%= link_to n.title, "/news/#{n.id}" %>
      </div>
      <% if n.content.size != 0 %>
      <div class="section-content">
        <%= raw n.markdown_content %>
      </div>
      <% end %>
      <div class="section-footer">
        <span class="section-channel left">
          <%= News::CHANNEL_LIST[n.channel][0] %>
          <% if n.event != 0 %>
            | <%= News::EVENT_LIST[n.event][0] %>
          <% end %>
        </span>
        <span class="section-time right"><%= link_to n.created_at.strftime("%H:%M %Y-%m-%d"), "/news/#{n.id}" %></span>
      </div>
    </div>
  </div>
  <% end %>

  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        <%= link_to "更多新闻", controller: "news", action: "list" %>
      </div>
    </div>
  </div>
</div>
