<div class="section">
  <div class="section-wrap hover-effect" id="news-<%= news.id %>">
    <div class="section-item">
      <div class="section-title">
        <% if defined?(nolink) && nolink == true %>
          <%= news.title %>
        <% else %>
          <%= link_to news.title, "/news/#{news.id}" %>
        <% end %>
      </div>
      <% if news.content.size != 0 %>
      <div class="section-content<%= " section-results" if news.channel == 1 %>">
        <%= raw news.markdown_content %>
      </div>
      <% end %>
      <div class="section-footer">
        <span class="section-channel left">
          <%= News::CHANNEL_LIST[news.channel][0] %>
          <% if news.event != 0 %>
            | <%= News::EVENT_LIST[news.event][0] %>
          <% end %>
        </span>
        <span class="section-time right">
          <% if defined?(nolink) && nolink == true %>
            <%= news.created_at.strftime("%H:%M %Y-%m-%d") %>
          <% else %>
            <%= link_to news.created_at.strftime("%H:%M %Y-%m-%d"), "/news/#{news.id}" %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
