<div class="news-wrap">
  <div class="news-item" id="news-<%= news.id %>">
    <div class="news-title">
      <% if defined?(nolink) && nolink == true %>
        <%= news.title %>
      <% else %>
        <%= link_to news.title, "/news/#{news.id}" %>
      <% end %>
    </div>
    <% if news.content.size != 0 %>
    <div class="news-content<%= " news-result" if news.channel == 1 %>">
      <%= raw news.markdown_content %>
    </div>
    <% end %>
    <div class="news-footer">
      <div class="news-time">
        <%= news.created_at.strftime("%H:%M %Y-%m-%d") %>
      </div>
      <div class="news-channel">
        <%= news.channel_event %>
      </div>
    </div>
  </div>
</div>
