<div class="news">
  <div class="news-wrap">
    <% cache @news do %>
      <%= render @news, nolink: true %>
    <% end %>
  </div>
  <div class="share">
    <%= link_to icon("fw fa-reply"), controller: "index", action: "index" %>
    <a href="#;" onclick="window.open('https://twitter.com/intent/tweet?url=<%= @news.url %>&text=<%= @news.title %>&button_hashtag=rugbynewsboard', '_blank', 'width=550,height=370');" class="tb">
      <%= icon("fw fa-twitter") %>
    </a>
  </div>
</div>
