<div class="section">
  <div class="section-wrap">
  <% @news.each do |n| %>
    <%= render n %>
  <% end %>
  </div>
</div>

<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        总共: <%= @page[:total] %>条
        当前页: <%= @page[:cur_page] %>
        <% if @page[:cur_page] > 1 %>
          <%= link_to "上一页", controller: "news", action: "list", p: @page[:cur_page] - 1 %>
        <% else %>
           上一页
        <% end %>
        <% if @page[:cur_page] < @page[:total_page] %>
          <%= link_to "下一页", controller: "news", action: "list", p: @page[:cur_page] + 1 %>
        <% else %>
           下一页
        <% end %>
        |
        <a href="/news/feed.xml">订阅 RSS</a>
      </div>
    </div>
  </div>
</div>
