<div class="section" id="news">
  <div class="section-wrap">
  <% @news.each do |n| %>
    <%= render n %>
  <% end %>
  </div>
</div>

<div class="section" id="pagination">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        总共: <span id="total"><%= @page[:total] %></span>条
        当前页: <span id="current"><%= @page[:cur_page] %></span>
        <% if @page[:cur_page] > 1 %>
          <%= link_to "上一页", controller: "news", action: "results", p: @page[:cur_page] - 1 %>
        <% else %>
           上一页
        <% end %>
        <% if @page[:cur_page] < @page[:total_page] %>
          <%= link_to "下一页", controller: "news", action: "results", p: @page[:cur_page] + 1 %>
        <% else %>
           下一页
        <% end %>
      </div>
    </div>
  </div>
</div>
