<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %>Rugby News Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="专业的英式橄榄球资讯网站，关注英式橄榄球赛事动态">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turboas-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turboas-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Crimson+Text|Roboto+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="container-linen">
        <header class="menu">
          <div class="menu-navicon">
            <button>
              <%= icon("navicon fa-lg fa-inverse") %>
            </button>
          </div>
          <div class="menu-name">
            <%= link_to "Rugby News Board", "/" %>
          </div>
          <div>
            <div class="menu-list">
              <span class="menu-item <%= active_class("/") %><%=active_class(index_url) %>"><%= link_to "首页", index_url %></span>
              <span class="menu-item <%= active_class(news_url) %>"><%= link_to "新闻", news_url, channel: "news" %></span>
              <span class="menu-item <%= active_class(results_url) %>"><%= link_to "比分", results_url, channel: "results" %></span>
              <span class="menu-item <%= active_class(wiki_url) %>"><%= link_to "赛事介绍", wiki_url %></span>
              <span class="menu-item <%= active_class(info_url) %>"><%= link_to "相关资料", info_url %></span>
              <span class="menu-item <%= active_class(live_url) %>"><%= link_to "直播", live_url %></span>
              <span class="menu-item <%= active_class(about_url) %>"><%= link_to "关于", about_url %></span>
              <span class="menu-item">-&nbsp;</span>
              <span class="menu-item <%= active_class("/event/international-tests") %>"><%= link_to "国际测试赛", "/event/international-tests" %></span>
              <span class="menu-item <%= active_class("/event/rugby-championship") %>"><%= link_to "冠军赛", "/event/rugby-championship" %></span>
              <span class="menu-item <%= active_class("/event/six-nations") %>"><%= link_to "六国赛", "/event/six-nations" %></span>
              <span class="menu-item <%= active_class("/event/rugby-world-cup") %>"><%= link_to "世界杯", "/event/rugby-world-cup" %></span>
              <span class="menu-item <%= active_class("/event/british-and-irish-lions") %>"><%= link_to "狮子队", "/event/british-and-irish-lions" %></span>
              <span class="menu-item <%= active_class("/event/barbarians") %>"><%= link_to "野蛮人", "/event/barbarians" %></span>
              <span class="menu-item <%= active_class("/event/rugby-sevens") %>"><%= link_to "7人制", "/event/rugby-sevens" %></span>
              <span class="menu-item <%= active_class("/event/womens-rugby") %>"><%= link_to "女子赛事", "/event/womens-rugby" %></span>
            </div>
            <div class="menu-list">
              <span class="menu-item <%= active_class("/event/super-rugby") %>"><%= link_to "SuperRugby", "/event/super-rugby" %></span>
              <span class="menu-item <%= active_class("/event/premiership") %>"><%= link_to "Premiership", "/event/premiership" %></span>
              <span class="menu-item <%= active_class("/event/top14") %>"><%= link_to "Top14", "/event/top14" %></span>
              <span class="menu-item <%= active_class("/event/pro14") %>"><%= link_to "PRO14", "/event/pro14" %></span>
              <span class="menu-item <%= active_class("/event/european-champions-cup") %>"><%= link_to "欧洲冠军杯", "/event/european-champions-cup" %></span>
              <span class="menu-item <%= active_class("/event/european-challenge-cup") %>"><%= link_to "欧洲挑战杯", "/event/european-challenge-cup" %></span>
              <span class="menu-item <%= active_class("/event/currie-cup") %>"><%= link_to "CurrieCup", "/event/currie-cup" %></span>
              <span class="menu-item <%= active_class("/event/mitre-10-cup") %>"><%= link_to "Mitre10Cup", "/event/mitre-10-cup" %></span>
              <span class="menu-item <%= active_class("/event/national-rugby-championship") %>"><%= link_to "NRC", "/event/national-rugby-championship" %></span>
              <span class="menu-item <%= active_class("/event/top-league") %>"><%= link_to "TopLeague", "/event/top-league" %></span>
              <span class="menu-item <%= active_class("/event/major-league-rugby") %>"><%= link_to "MLR", "/event/major-league-rugby" %></span>
              <span class="menu-item <%= active_class("/event/anglo-welsh-cup") %>"><%= link_to "盎格鲁威尔士杯", "/event/anglo-welsh-cup" %></span>
            </div>
          </div>
          <div class="menu-dropdown menu-off">
            <div class="menu-dropdown-wrapper">
              <div class="menu-dropdown-list">
                <div class="menu-item"><%= link_to "新闻", news_url, channel: "news" %></div>
                <div class="menu-item"><%= link_to "比分", results_url, channel: "results" %></div>
                <div class="menu-item" id="menu-list-toggle"><%= link_to "全部列表", "#" %></div>
                <div class="menu-item"><%= link_to "赛事介绍", wiki_url %></div>
                <div class="menu-item"><%= link_to "直播", live_url %></div>
                <div class="menu-item"><%= link_to "相关资料", info_url %></div>
                <div class="menu-item"><%= link_to "关于", about_url %></div>
              </div>
            </div>
            <div class="menu-dropdown-sublist menu-off">
              <div class="menu-dropdown-wrapper menu-dropdown-flex">
                <div class="menu-item"><%= link_to "SuperRugby", "/event/super-rugby" %></div>
                <div class="menu-item"><%= link_to "Premiership", "/event/premiership" %></div>
                <div class="menu-item"><%= link_to "Top14", "/event/top14" %></div>
                <div class="menu-item"><%= link_to "PRO14", "/event/pro14" %></div>
                <div class="menu-item"><%= link_to "国际测试赛", "/event/international-tests" %></div>
                <div class="menu-item"><%= link_to "冠军赛", "/event/rugby-championship" %></div>
                <div class="menu-item"><%= link_to "六国赛", "/event/six-nations" %></div>
                <div class="menu-item"><%= link_to "世界杯", "/event/rugby-world-cup" %></div>
                <div class="menu-item"><%= link_to "欧洲冠军杯", "/event/european-champions-cup" %></div>
                <div class="menu-item"><%= link_to "欧洲挑战杯", "/event/european-challenge-cup" %></div>
                <div class="menu-item"><%= link_to "CurrieCup", "/event/currie-cup" %></div>
                <div class="menu-item"><%= link_to "Mitre10Cup", "/event/mitre-10-cup" %></div>
                <div class="menu-item"><%= link_to "NRC", "/event/national-rugby-championship" %></div>
                <div class="menu-item"><%= link_to "TopLeague", "/event/top-league" %></div>
                <div class="menu-item"><%= link_to "MLR", "/event/major-league-rugby" %></div>
                <div class="menu-item"><%= link_to "盎格鲁威尔士杯", "/event/anglo-welsh-cup" %></div>
                <div class="menu-item"><%= link_to "狮子队", "/event/british-and-irish-lions" %></div>
                <div class="menu-item"><%= link_to "野蛮人", "/event/barbarians" %></div>
                <div class="menu-item"><%= link_to "7人制", "/event/rugby-sevens" %></div>
                <div class="menu-item"><%= link_to "女子赛事", "/event/womens-rugby" %></div>
              </div>
            </div>
          </div>
        </header>

        <%= yield %>

        <footer>
          <div class="columns">
            <div class="footer-column">
              <div class="footer-title">关于</div>
              <div>Rugby News Board, 2019.</div>
              <div>Copyright &copy; <a href="https://crispgm.com/">David Zhang</a>.</div>
            </div>
            <div class="footer-column">
              <div class="footer-title">资讯板块</div>
              <div><a href="/news">新闻</a></div>
              <div><a href="/results">比分</a></div>
              <div><a href="/wiki">赛事介绍</a></div>
              <div><a href="/info">橄榄球资料</a></div>
            </div>
            <div class="footer-column">
              <div class="footer-title">精彩赛事</div>
              <div class="menu-item"><%= link_to "SuperRugby", "/event/super-rugby" %></div>
              <div class="menu-item"><%= link_to "Premiership", "/event/premiership" %></div>
              <div class="menu-item"><%= link_to "Top14", "/event/top14" %></div>
              <div class="menu-item"><%= link_to "PRO14", "/event/pro14" %></div>
              <div class="menu-item"><%= link_to "国际测试赛", "/event/international-tests" %></div>
              <div class="menu-item"><%= link_to "冠军赛", "/event/rugby-championship" %></div>
              <div class="menu-item"><%= link_to "六国赛", "/event/six-nations" %></div>
              <div class="menu-item"><%= link_to "世界杯", "/event/rugby-world-cup" %></div>
            </div>
            <div class="footer-column">
              <div class="footer-title">关注我们</div>
              <div class="menu-item">
                <a href="https://rugby-board.herokuapp.com/news/feed" target="_blank" rel="noopener noreferrer">
                  RSS 订阅
                </a>
              </div>
              <div>
                <a href="https://twitter.com/RugbyNewsBoard" target="_blank" rel="noopener noreferrer">
                  Twitter @RugbyNewsBoard
                </a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92008867-1', 'auto');
  ga('send', 'pageview');
  </script>
</html>
