<!DOCTYPE html>
<html>
  <head>
    <title>Rugby News Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="menu">
        <div class="site-name">
          <div><%= link_to "Rugby News Board", controller: "index", action: "index" %></div>
          <div>
            <span class="site-menu"><%= link_to "Home", controller: "index", action: "index" %></span>
            <span class="site-menu"><%= link_to "News", controller: "news", action: "list" %></span>
            <span class="site-menu"><%= link_to "Live!", controller: "live", action: "index" %></span>
            <span class="site-menu"><%= link_to "About", controller: "index", action: "about" %></span>
          </div>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
