<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %>Rugby News Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="menu">
        <div class="menu-navicon">
          <%= link_to icon("navicon"), "#" %>
        </div>
        <div class="menu-name">
          <%= link_to "Rugby News Board", index_url %>
        </div>
        <div>
          <div class="menu-list">
            <span class="menu-item"><%= link_to "首页", index_url %></span>
            <span class="menu-item"><%= link_to "新闻", news_url, channel: "news" %></span>
            <span class="menu-item"><%= link_to "比分", results_url, channel: "results" %></span>
            <span class="menu-item"><%= link_to "赛事介绍", wiki_url %></span>
            <span class="menu-item"><%= link_to "相关资料" %></span>
            <span class="menu-item"><%= link_to "关于", about_url %></span>
            <span class="menu-item">-&nbsp;</span>
            <span class="menu-item"><%= link_to "国际测试赛", "/event/international-tests" %></span>
            <span class="menu-item"><%= link_to "冠军赛", "/event/rugby-championship" %></span>
            <span class="menu-item"><%= link_to "六国赛", "/event/six-nations" %></span>
            <span class="menu-item"><%= link_to "世界杯", "/event/rugby-world-cup" %></span>
            <span class="menu-item"><%= link_to "狮子队", "/event/british-and-irish-lions" %></span>
            <span class="menu-item"><%= link_to "野蛮人", "/event/barbarians" %></span>
            <span class="menu-item"><%= link_to "7人制", "/event/rugby-sevens" %></span>
            <span class="menu-item"><%= link_to "女子赛事", "/event/womens-rugby" %></span>
          </div>
          <div class="menu-list">
            <span class="menu-item"><%= link_to "SuperRugby", "/event/super-rugby" %></span>
            <span class="menu-item"><%= link_to "Premiership", "/event/premiership" %></span>
            <span class="menu-item"><%= link_to "Top14", "/event/top14" %></span>
            <span class="menu-item"><%= link_to "PRO14", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "欧洲冠军杯", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "欧洲挑战杯", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "CurrieCup", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "Mitre10Cup", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "NRC", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "TopLeague", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "MLR", "/event/pro14" %></span>
            <span class="menu-item"><%= link_to "盎格鲁威尔士杯", "/event/pro14" %></span>
          </div>
        </div>
        <div class="menu-dropdown">
          <div class="menu-dropdown-wrapper menu-off">
            <div class="menu-dropdown-list">
              <div class="menu-item"><%= link_to "首页", index_url %></div>
              <div class="menu-item"><%= link_to "新闻", news_url, channel: "news" %></div>
              <div class="menu-item"><%= link_to "比分", results_url, channel: "results" %></div>
              <div class="menu-item"><%= link_to "赛事介绍", wiki_url %></div>
              <div class="menu-item"><%= link_to "邮件订阅", news_feed_url %></div>
              <div class="menu-item"><%= link_to "关于", about_url %></div>
            </div>
          </div>
          <div class="menu-dropdown-sublist menu-off">
            <div class="menu-dropdown-wrapper menu-dropdown-flex menu-off">
              <div class="menu-item"><%= link_to "SuperRugby", "/event/super-rugby" %></div>
              <div class="menu-item"><%= link_to "Premiership", "/event/premiership" %></div>
              <div class="menu-item"><%= link_to "TOP14", "/event/top14" %></div>
              <div class="menu-item"><%= link_to "PRO12", "/event/pro12" %></div>
              <div class="menu-item"><%= link_to "国际测试赛", "/event/international-tests" %></div>
              <div class="menu-item"><%= link_to "冠军赛", "/event/rugby-championship" %></div>
              <div class="menu-item"><%= link_to "六国赛", "/event/six-nations" %></div>
              <div class="menu-item"><%= link_to "世界杯", "/event/rugby-world-cup" %></div>
            </div>
          </div>
        </div>
      </header>

      <%= yield %>

      <footer>
        <a href="/">Rugby News Board</a> &copy; <%= Time.now.strftime("%Y") %></a>
      </footer>
    </div>
  </body>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92008867-1', 'auto');
  ga('send', 'pageview');
  </script>
</html>
